<!DOCTYPE HTML>
<head>
  <title>TweetReader</title>
</head>
<body>
  <h1>TweetReader: Read Tweets Without Ever Going On Twitter!</h1>
  <form action = "/tweets" method = "get">
      <strong>Search for a Twitter handle:</strong>  <input type="text" placeholder="@example OR example OR eXaMpLe" name="user_search" style="width:1000px; height:20px; font-size:18px;">
      <input type="submit" value="Search">
  </form>

  </div>
</body>
</html>
