.center {
  text-align: center;
}

.heading {
  color: #00E600;
  text-align: center;
}

.tweets {
  margin-left: 20px;
}

body {
  background-color: #CCF5FF;
}

img {
  height: 80px;
  width: 80px;
}
